<div id="albums">
  <ul>
    <% @directories.each do |directory| %>
      <li><a href="/<%= params[:artist] %>/<%= directory.split('/').last %>"><%= directory.split('/').last %></a></li>
    <% end %>
  </ul>
</div>
