<div class="row">
  <div class="twelve columns">
    <ul id="artists">
      <% @directories.each do |directory| %>
        <li class="artist">
          <a href="<%= make_path(directory.split('/').last) %>"><%= directory.split('/').last %></a> (<%= (@genres[directory.split('/').last] || '').strip %>)
        </li>
      <% end %>
    </ul>
  </div>
</div>
