<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="<%= settings.default_encoding %>" />
  <title>Media Streamer</title>
  <meta name="description" content="Media Streamer Server" />
  <meta name="author" content="Sean Eshbaugh" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= partial 'breadcrumbs', { :breadcrumbs => @breadcrumbs } %>
  <div id="pwd">
    <h1>Listing Contents of <%= @pwd %></h1>
  </div>
  <%= yield %>
</body>
</html>
